* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* hora: 2:55:46*/
body {
    /* width: 100vh;*/
    height: 100vh; 
    /* 
        * My palete colors from color.adobe.com #5F29CC - #4d21a6 - #7030f0
    #39187a - #2d1b52 
     */
    background-color: #eb807b;
    text-align: center;
}
.centrar-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contenedor {
    width: 60vh;
    height: 30vh;
    background-color: aliceblue;
}
button {
    background-color: black;
    color: aliceblue;
}
button:active {
    background-color: gray;
}
#color {
    font-size: 70px;
    font-weight: bold;
}